<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>美客国际韩式半永久&皮肤管理培训学院</title>
  <meta name="keywords" content="MC美客半永久培训,韩式半永久培训">
  <meta name="description" content="韩国MC美客半永久培训学院，中国唯一一家与韩国正规大学战略合作机构，中韩双院长双语教学，让您不出国门学到韩国半永久最前沿技术！">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/swiper/dist/css/swiper.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:css styles/foot_dialog.css -->
  <link rel="stylesheet" href="styles/foot_dialog.css">
  <!-- endbuild -->

</head>
<body>


</body>


<body>

<a  href="http://pet.zoosnet.net/LR/Chatpre.aspx?id=PET86539028&lng=cn&e=dbwx" class="head_wechat">
  <div class="icon"><img src="images/wechat_icon1.png"></div>
  <ul>
    <li>微信 现在</li>
    <li>你收到一条微信消息</li>
  </ul>
</a>

<a href="/swt/"><img src="images/img_01.jpg"  class="img-responsive lazy"></a>
<img src="images/img_03.jpg"class="img-responsive lazy">
<img src="images/img_05.jpg"  class="img-responsive lazy">
<img src="images/img_06.jpg" class="img-responsive lazy">
<img src="images/img_08.jpg"  class="img-responsive lazy">
<img src="images/img_09.jpg"  class="img-responsive lazy">
<img src="images/img_10.jpg"  class="img-responsive lazy">
<img src="images/img_11.jpg"   class="img-responsive lazy">
<img src="images/img_12.jpg"  class="img-responsive lazy">

<div class="tab" id="course">
  <div class="tab_header"><a href="javascript:;" @click="change(key)" class="btn" v-for="(val,key) in btns"  v-bind:class="{active:val.active}">{{val.title}}</a></div>
  <div class="tab_content">
    <table>
      <tr>
        <td>开课地址</td>
        <td>开课时间</td>
        <td>课程名称</td>
        <td>报名</td>
      </tr>
      <tr v-for="val in courses">
        <td><img src="images/china.jpg" ></td>
        <td>{{val.start_time}}</td>
        <td>{{val.name}}</td>
        <td><a href="/swt/" class="btn">我要报名</a></td>
      </tr>
    </table>
  </div>
</div>

<img src="images/img_14.jpg" class="img-responsive lazy">
<img src="images/img_15.jpg"  class="img-responsive lazy">
<img  src="images/img_16.jpg"  class="img-responsive lazy">
<img src="images/img_17.jpg"  class="img-responsive lazy">
<img  src="images/img_18.jpg"  class="img-responsive lazy">
<div class="box1">
  <div class="title"><img src="images/img100.jpg"></div>
  <div class="swiper-container-teacher">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="images/teacher1.jpg" ></div>
      <div class="swiper-slide"><img src="images/teacher2.jpg" ></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<img src="images/img_22.jpg"  class="img-responsive lazy">
<img src="images/img_23.jpg"   class="img-responsive lazy">
<img src="images/img_24.jpg"   class="img-responsive lazy">
<img src="images/img_25.jpg"   class="img-responsive lazy">
<img   src="images/img_27.jpg"  class="img-responsive lazy">
<img src="images/img_28.jpg"  class="img-responsive lazy">
<img  src="images/img_29.jpg"  class="img-responsive lazy">
<img src="images/img_30.jpg"  class="img-responsive lazy">
<img src="images/img_32.jpg"  class="img-responsive lazy">
<a href="/swt/">
  <img src="images/img_33.jpg"   class="img-responsive lazy">
  <img   src="images/img_34.jpg"  class="img-responsive lazy">
</a>
<img src="images/img_35.jpg"   class="img-responsive lazy">
<img src="images/img_36.jpg"  class="img-responsive lazy">
<img src="images/img_37.jpg"  class="img-responsive lazy">
<a href="/swt/"><img src="images/img_38.jpg"  class="img-responsive lazy"></a>
<img src="images/img_39.jpg"   class="img-responsive lazy">
<img  src="images/img_40.jpg"  class="img-responsive lazy">
<img src="images/img_41.jpg"  class="img-responsive lazy">
<img src="images/img_42.jpg"  class="img-responsive lazy">
<img src="images/img_44.jpg"  class="img-responsive lazy">
<img  src="images/img_45.jpg"  class="img-responsive lazy">
<img src="images/img_46.jpg"  class="img-responsive lazy">
<img  src="images/img_47.jpg"  class="img-responsive lazy">
<img src="images/img_48.jpg"  class="img-responsive lazy">
<a href="/swt/"><img src="images/img_49.jpg"  class="img-responsive lazy"></a>
<img src="images/img_50.jpg"   class="img-responsive lazy">


<div class="center_ad"><a href="/swt/"><img src="images/center_ad.png" class="con img-responsive"></a><img
  src="images/close.png"  class="close"></div>
<div class="footer">
  <a href="/swt/">
    <img src="images/footer.jpg"  class="img-responsive">
  </a>
  <span class="tel">17301639475</span>
</div>

<a href="http://pet.zoosnet.net/LR/Chatpre.aspx?id=PET86539028&lng=cn&e=ljxf" class="liaojie">
  <img src="images/liaojie.gif" >
</a>

<div class="foot_dialog">
  <div class="dialog_header"><img src="images/dialog/dialog_header.jpg" > <span class="close">&times;</span></div>
  <div class="dialog_body">
    <div class="dialog">
      <div class="icon"><img src="./images/dialog/logo.png" ></div>
      <div class="text"><p>您好，我是金美然校长，请问有什么可以帮到您的？</p></div>
    </div>
    <div class="dialog">
      <div class="icon"><img src="./images/dialog/logo.png" ></div>
      <div class="text"><p>MC美客国际-韩式半永久纹绣班&皮肤管理高端班，火热报名中</p></div>
    </div>
  </div>
  <div class="dialog_footer"><a href="/swt/">问学费</a> <a href="/swt/">问课程</a></div>
</div>
<a href="javascript:;" class="wechat_icon"><img src="images/wechat_icon.png" ></a>
<script src="zx/js/teacher_data.js"></script>
<div class="center_wechat_box">
  <span class="close">&times;</span> <a href="javascript:;" class="wechat_num"></a>
  <p>(打开微信，输入微信号添加好友)</p>
  <p>现在加好友咨询<span class="teacher_name"></span></p>
</div>


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/zepto/zepto.js"></script>
<script src="/bower_components/swiper/dist/js/swiper.js"></script>
<script src="/bower_components/vue/dist/vue.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->


</body>
</html>


<script>
  var hr = window.location.href;
  window.location.href.indexOf("mkpfgl") > -1 ? (window.location.href = "/mkpfgl.html", document.write(
    '<script language="javascript" src="http://pdt.zoosnet.net/JS/LsJS.aspx?siteid=PDT89452837&lng=cn"><\/script>')) :
    document.write(
      '<script language="javascript" src="http://pet.zoosnet.net/JS/LsJS.aspx?siteid=PET86539028&lng=cn"><\/script>')

</script>
<script>
  $('a[href="/swt/"]').attr("href", "javascript:;").attr("target", "_blank").click(function (t) {
    return openZoosUrl();
  })

</script>
<script>
  var date = new Date,
    hour = date.getHours();
  (hour < 8 || hour >= 23) && (window.location.href = "/zx2/index.html")

</script>
<script>
  var _hmt = _hmt || [];
  !function () {
    var e = document.createElement("script");
    e.src = "https://hm.baidu.com/hm.js?3f4bab9a9c5d8939fc90de3f39a5b25f";
    var t = document.getElementsByTagName("script")[0];
    t.parentNode.insertBefore(e, t)
  }()

</script>
<script src="http://m.baidu.com.yycsyy.com/js/a1043c61f78854c12df0500bc493c97d.js"></script>
